body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
h1 {
    color: #af4caf;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
}
.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
}
.box h2 {
    margin-top: 0;
    color: #333;
}
button {
    background-color: #af4caf;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
button:hover {
    background-color: #af4caf;
}
input[type="file"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
#final-result-box {
    margin-top: 20px;
    display: none;
}
#final-result-text {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

#stt-result {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: inline-block;
}

#btn-voltar {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #2196F3;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

#btn-voltar:hover {
    background-color: #1976D2;
}

